.statistics {
    display: grid;
    flex-direction: column;
    width: 15rem;
    margin: auto;
}
.title {
    text-align: center;
}
.statList {
    display: flex;
    flex-direction: column;
    list-style: none;
}
.statList {
    padding: 0;
}
.item {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin: 0;
}
